<div>
  <div id="formData">
    <form id="static-form" method="post">
        <div>
          <label for="inputString">Input text</label>
          <input type="text" id= "inputString" name="inputString" value="{{inputString}}">
        </div>
        <div>
          <button type="submit">Submit</button>
        </div>
        <div class= "result" id="result"></div>
        <div class="error" id="error"></div>
        <div id="listItems">
          <ul id="list"></ul>
        </div>
    </form>
  </div>
</div>