<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Pallindrome Checker</title>
    <link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
    <header>
        <h1>Pallindrome Checker</h1>
    </header>
    <main>
        <div>
            <div>
                {{{body}}}
            </div>
        </div>
    </main>
    <footer>
        <p>Name: Rajat Kinkhabwala : 10414081</p>
    </footer>
    <script src="/public/js/form.js"></script>
</body>

</html>