body {
    background: #ABB;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 15pt;
    align-content: center;
    text-align: center;
}

main {
    max-width: 75%;
    margin: auto;
}

header {
    align-content: center;
}

footer{
   color:#444;
   margin-top: 5px;
   text-align: center; 
}

h2, h3, h4, h5, h6 {
    color: #253;
    margin-bottom: 5px;
}

h1 {
    font-size: 2rem;
    color: #253;
    text-align: center;
}

h2 {
    font-size: 1.75rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.25rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}

p {
    font-size: 1rem;
    line-height: 2;
}
#list{
    text-align: center;
    align-content: center;
}
#listItems{
    text-align: center;
    align-content: center;
}
#formData{
    text-align: center;
    align-content: center;
}
.post {
    width: 75%;
}

.is-pallindrome {
    color:"blue";
}

.not-pallindrome {
    color: "red";
}

.result{
    color:#253;
}
.error{
    color:#F44;
}